.user{
    margin-left: 45%;
    margin-top: -23%;
    color: blanchedalmond;
    font-size: 1.1rem;
    font-family: sans-serif  ;
}
.card-body{
    color: blanchedalmond;
    font-size: 1.6rem;
    margin-left:27%;
    margin-top: 1%;
    font-family: sans-serif  ;
}
.repos{
    color: blanchedalmond;
    font-size: 2.1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 11%;
    font-family: sans-serif  ;
}
